albumentationsx
jsonargparse
lightning
numpy
open-clip-torch
rich
pandas
pillow
PyYAML
SimpleITK
timm
torch
torchmetrics
torchvision
tqdm
wandb

# visualization
seaborn
umap-learn
matplotlib
scikit-learn

# personal use
# nvitop
# ipykernel
# black