albumentationsx
jsonargparse
lightning
open-clip-torch
rich
pandas
pillow
peft
segmentation-models-pytorch
timm
torch
torchmetrics
torchvision
tqdm
wandb

# visualization
seaborn
umap-learn
matplotlib
scikit-learn

# personal use
# nvitop
# ipykernel
# black